﻿@{
    ViewBag.Title = "Create";
}

<h2>Создание Роли</h2>
@Html.ActionLink("Список ролей", "Index") | @Html.ActionLink("Управление ролями", "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Название роли
    </div>
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Сохранить" />
}