﻿
<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Название Территории</label>
        <input type="text" class="form-control" id="NameArea">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите Страну</label>
        @Html.DropDownList("Country", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "countryId" })
    </div>

</form>