﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Название Страны</label>
        <input type="text" class="form-control" id="NameCountry">
    </div>
</form>
