﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Название Штрафа</label>
        <input type="text" class="form-control" id="NameFine">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Цена штрафа</label>
        <input type="text" class="form-control" id="PriceFine">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите страну</label>
        @Html.DropDownList("Country", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "countryIdFine" })
    </div>
</form>



