﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Email пользователя</label>
        @Html.DropDownList("Manager", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "managerIdValProjectAdd" })
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите Проект</label>
        @Html.DropDownList("Project", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "projectIdMan" })
    </div>

</form>

