﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Email пользователя</label>
        @Html.DropDownList("Manager", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "managerId" })
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите Регион</label>
        @Html.DropDownList("Region", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "regionIdMan" })
    </div>

</form>
