﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Email пользователя</label>
        @Html.DropDownList("Manager", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "managerIdValCnt" })
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите Страну</label>
        @Html.DropDownList("Country", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "countryIdMan" })
    </div>

</form>


