﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Email пользователя</label>
        @Html.DropDownList("Manager", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "managerIdVal" })
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите Территорию</label>
        @Html.DropDownList("Area", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "areaIdMan" })
    </div>

</form>


