﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Ф.И.О</label>
        <input type="text" class="form-control" id="Name">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Дата Рождения</label>
        <input type="date" class="form-control" id="birthday">
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Должность:</label>
        <textarea class="form-control" id="position"></textarea>
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Телефон:</label>
        <textarea class="form-control" id="telephonepeople"></textarea>
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">График работы:</label>
        <select class="form-control" id="workTimeVal">
            <option value="Дневная Смена">Дневная Смена</option>
            <option value="Ночная смена">Ночная смена</option>
            <option  value="Сутки">Сутки</option>
            <option value="Дневная -Ночная смены">Дневная -Ночная смены</option>
        </select>
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Адрес проживания:</label>
        <textarea class="form-control" id="adress"></textarea>
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Регион:</label>
        @Html.DropDownList("Region", null, htmlAttributes: new { @class = "form-control", @id = "region" })
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Паспортные данные:</label>
        <textarea class="form-control" id="passportData"></textarea>
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">ИНН:</label>
        <textarea class="form-control" id="INN"></textarea>
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Медицинская книга:</label>
        <select class="form-control" id="medicalCard">
            <option value="Имеется">Имеется</option>
            <option value="Не имеется">Не Имеется</option>
        </select>
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Дата окончания мед книжки:</label>
        <input type="date" class="form-control" id="bookending">
    </div>
</form>
