﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Работник</label>
        @Html.DropDownList("Worker", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "peopleIdAdd" })
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите Заявку</label>
        @Html.DropDownList("Proposal", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "proposalIdAdd" })
    </div>

</form>


