﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Номер заявки</label>
        @Html.DropDownList("Proposal_Id", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "proposal_Id" })
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите штраф</label>
        @Html.DropDownList("Fine_Id", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "fine_Id" })
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Введите комментарий</label>
        <input type="text" class="form-control" id="FineComment">
    </div>
</form>


