﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите проект</label>
        @Html.DropDownList("Project", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "projectId" })
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">От:</label>
        <input type="date" class="form-control" id="datefrom">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">До:</label>
        <input type="date" class="form-control" id="dateto" placeholder="YYYY-MM-DD" data-date-split-input="true" >
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Наименование услуги:</label>
        @Html.DropDownList("Service", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "serviceId" })
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">График работы:</label>
        <div>
            <label for="message-text" class="col-form-label">С:</label>
            <input  type="time" class="form-control" id="workTime">

        </div>
        <div>
            <label for="message-text" class="col-form-label">По:</label>
            <input  type="time"" class="form-control" id="workTimeTo">
        </div>
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Количество:</label>
        <textarea class="form-control" id="quantity"></textarea>
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Тариф:</label>
        <textarea class="form-control" id="rate" readonly></textarea>
    </div>
</form>
