﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Название Региона</label>
        <input type="text" class="form-control" id="NameRegion">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите Территорию</label>
        @Html.DropDownList("Area", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "areaId" })
    </div>
</form>
