﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Название Услуги</label>
        <input type="text" class="form-control" id="NameService">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Тариф</label>
        <input type="text" class="form-control" id="Fee">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите страну</label>
        @Html.DropDownList("Country", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "countryIdService" })
    </div>
</form>
