﻿
<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Время работы с</label>
        <input type="time" class="form-control" id="workTimeFromProp">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">До:</label>
        <input type="time" class="form-control" id="workTimeToProp">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Время перерыва с:</label>
        <input type="time" class="form-control" id="breakTimeFrom">
    </div>
    <div class="form-group">
        <label for="message-text" class="col-form-label">Время перерыва до:</label>
        <input type="time" class="form-control" id="breakTimeTo">
    </div>
    
    
    <div class="form-group">
        <label for="message-text" class="col-form-label">Комментарий:</label>
        <textarea class="form-control" id="commentProp"></textarea>
    </div>
</form>
