﻿<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Сумма</th>
            <th scope="col">Комментарий</th>
        </tr>
    </thead>
    <tbody id="fineProposals" style="overflow: auto;"></tbody>
</table>

