﻿<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ФИО</th>
            <th scope="col">Дата работы - с</th>
            <th scope="col">До</th>
            <th scope="col">Дата перерыва - с</th>
            <th scope="col">До</th>
            <th scope="col">Комментарий</th>
            <th scope="col">Статус</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody id="peopleProposals" style="overflow: auto;"></tbody>
</table>

