﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Название Города</label>
        <input type="text" class="form-control" id="NameCity">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите Регион</label>
        @Html.DropDownList("Region", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "regionId" })
    </div>

</form>


