﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Название Города</label>
        <input type="text" class="form-control" id="NameCity">
    </div>


</form>