﻿@model vchasnocrm.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/ProposalScripts/Proposal.js"></script>
<script src="~/Scripts/PeopleForWorkScripts/PeopleScript.js"></script>
<script src="~/Scripts/RegionsScripts/RegionScript.js"></script>
<script src="~/Scripts/ServicesScripts/ServicesScript.js"></script>
<script src="~/Scripts/CityScripts/CityScript.js"></script>
<script src="~/Scripts/ProjectScripts/ProjectScript.js"></script>
<script src="~/Scripts/UsersToProjectsAndRegionsScripts/UsersToRegionScript.js"></script>
<script src="~/Scripts/UsersToProjectsAndRegionsScripts/UserToProjectScript.js"></script>
<script src="~/Scripts/UsersToProjectsAndRegionsScripts/UserToArea.js"></script>
<script src="~/Scripts/UsersToProjectsAndRegionsScripts/UserToCountry.js"></script>
<script src="~/Scripts/AreaScripts/AreaScript.js"></script>
<script src="~/Scripts/CountryScripts/CountryScript.js"></script>
<script src="~/Scripts/FineScripts/FineToProposalScript.js"></script>
<script src="~/Scripts/FineScripts/FineScript.js"></script>




<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <div class="col-md-5">
        <div class="btn-group-vertical">
            <button class="btn btn-primary btn-lg btn-danger" data-toggle="modal" data-target="#addPeople">Добавить работников</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addCountry">Добавить страну</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addArea">Добавить территорию</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addRegion">Добавить регион</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addCity">Добавить город</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addObject">Добавить проект</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addService">Добавить услугу</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addFine">Добавить штраф</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addManagerToRegion">Добавить менеджера клиента к региону</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addManagerToProject">Добавить менеджера клиента к проекту</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addManagerToCountry">Добавить менеджера клиента к стране</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addManagerToArea">
                Добавить менеджера клиента к территории
            </button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addPeopleToProposal">Добавить работника к заявке </button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals" data-toggle="modal" data-target="#addProposalToFine">Добавить штраф к заявке </button>
            <button class="btn btn-primary btn-lg btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Создать заявку </button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProposals">Просмотр заявок</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showPeople" data-toggle="modal" data-target="#allPeople">Просмотр работников</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showRegions" data-toggle="modal" data-target="#allRegions">Просмотр регионов</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showCities" data-toggle="modal" data-target="#allCities">Просмотр городов</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showProjects" data-toggle="modal" data-target="#allProjects">Просмотр проектов</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showServices" data-toggle="modal" data-target="#allServices">Просмотр услуг</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showFines" data-toggle="modal" data-target="#allFines">Просмотр штрафов</button>
            <button class="btn btn-primary btn-lg btn-danger" id="showFines">Генерировать отчет</button>
        </div>
    </div>
    <div class="col-md-7">
        <h4>Список заявок</h4>
        <div class="row">
            <div class="col-md-2">
                <h4>Город</h4>
                <select id="cityfilter" name="cityfilter" class="form-control"></select>
            </div>

            <div class="col-md-2">
                <h4>Статус</h4>
                <select id="statusfilter" name="statusfilter" class="form-control">
                    <option value="Заявка на одобрении">Заявка на одобрении</option>
                    <option value="Заявка отменена">Заявка отменена</option>
                    <option value="Подтверждено">Подтверждено</option>
                    <option value="Подтверждено региональным менеджером">Подтверждено региональным менеджером</option>
                    <option value="Отменено региональным менеджером">Отменено региональным менеджером</option>
                    <option value="Отменено">Отменено</option>
                </select>
            </div>
            <div class="col-md-2">
                <h4>Проект</h4>
                <select id="projectfilter" name="projectfilter" class="form-control"></select>
            </div>
            <div class="col-md-2">
                <h4>Услуга</h4>
                <select id="servicefilter" name="servicefilter" class="form-control"></select>
            </div>
            <div class="col-md-3">
                <h4>Дата</h4>
                <input type="date" class="form-control" id="datefilter" data-date-split-input="true">
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Проект</th>
                    <th scope="col">Дата</th>
                    <th scope="col">График</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Услуга</th>
                    <th scope="col">Стоимость</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Дата Редактирования</th>
                    <th scope="col">Дата Отмены</th>
                    <th scope="col">Город</th>
                    <th scope="col">Действия</th>

                </tr>
            </thead>
            <tbody id="proposals"></tbody>
        </table>
    </div>

</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Создать заявку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddProposal", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="proposalCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPeople" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить работника</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddWorker", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="peopleCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRegion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить регион</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddRegion", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="regionCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCity" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить Город</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddCity", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="cityCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addArea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить Территорию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddArea", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="areaCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addCountry" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить Страну</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Manage/AddCountry.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="countryCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addObject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить Проект</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddProject", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="projectCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addService" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить Услугу</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddService", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="serviceCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allPeople" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Просмотр Людей</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Manage/Partials/WorkingPeopleModal.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allCities" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Просмотр Городов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Manage/Partials/CitiesModal.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allRegions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Просмотр Регионов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Manage/Partials/RegionsModal.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allProjects" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Просмотр Проектов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Manage/Partials/ProjectsModal.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allPeopleProposals" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Просмотр Проектов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Manage/AllPeopleProposals.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allPeopleProposalsTime" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Просмотр Проектов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Manage/AddTimeProposal.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="timeCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allFinesProposals" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Просмотр Проектов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Manage/AllFinesProposals.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allServices" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Просмотр Проектов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Manage/Partials/ServicesModal.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="allFines" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Просмотр Городов</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Manage/Partials/FinesModal.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addManagerToRegion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить менеджера к региону</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddManagerToRegion", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="addManagerToReg" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addManagerToArea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить менеджера к территории</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddManagerToArea", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="addManagerToAr" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addManagerToCountry" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить менеджера к стране</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddManagerToCountry", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="addManagerToCnt" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addManagerToProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить менеджера к проекту</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddManagerToProject", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="mantoprojCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPeopleToProposal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить раотника на заявку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddPeopleToProposal", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="peopleToProposalCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addFine" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить Штраф</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddFinePartial", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="fineCreate" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addProposalToFine" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить штраф к заявке</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("ProposalToFineAdd", "Manage")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="proptofineCreateBut" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>