﻿<form>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Название Проекта</label>
        <input type="text" class="form-control" id="ProjectName">
    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Выберите Город</label>
        @Html.DropDownList("City", null, "XXXX", htmlAttributes: new { @class = "form-control", @id = "cityId"})
    </div>

</form>