﻿<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Город</th>
            <th scope="col">Регион</th>
            
        </tr>
    </thead>
    <tbody id="cities" style="overflow: auto;"></tbody>
</table>
