﻿<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Проект</th>
            <th scope="col">Город</th>
        </tr>
    </thead>
    <tbody id="projects" style="overflow: auto;"></tbody>
</table>


