﻿<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Регион</th>
        </tr>
    </thead>
    <tbody id="regions" style="overflow: auto;"></tbody>
</table>

