﻿<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>

        </tr>
    </thead>
    <tbody id="services" style="overflow: auto;"></tbody>
</table>

