﻿<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ф.И.О</th>
            <th scope="col">Должность</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Телефон</th>
            <th scope="col">График</th>
            <th scope="col">Адрес</th>
            <th scope="col">ИНН</th>
            <th scope="col">Паспортные данные</th>
            <th scope="col">Мед Книжка</th>
            <th scope="col">Мед Книжка действие</th>
            <th scope="col">Регион</th>
        </tr>
    </thead>
    <tbody id="people" style="overflow: auto;">

    </tbody>
</table>